<div id="main_page">
	<div id="header">
		<h1>Wisbits</h1>
	</div>
	
	<div id="content">
	
	<% if flash[:notice] %>
			<div id="notice"><%= flash[:notice] %></div>
	<% end %>
	
	<div id="intro">
		<div id="top"></div>
		<div id="mid">
			<p> Welcome, this is the wisbit plateform here to serve your needs</p>
		</div>
		<div id="bottom"></div>
	</div>
	<ul>
		<li><%= link_to "Read Wisbits", categories_path(:option=>'read')  %></li>
		<li><%=	link_to "Mash Wisbits", categories_path(:option=>'mash')  %></li>
		<li><%=	link_to "Submit Wisbits", new_quote_path %></li>
	</ul>
	
	</div>
			
			
		
	<div id="footer">
		<div id="social">
			<div id="twitter">
				<a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
			</div>
			<div id="fb">
				<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwisbit.akeelali.com&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:90px;" allowTransparency="true"></iframe>
			</div>
		</div>
	
		<div id="share">
			<div id="twitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical"><img src="../images/share/twitter.png" /></a></div>
			<div id="email"><a href="mailto:;subject=Wisbit+App"><img src="../images/share/email.png" /></a></div>
			<div id="facebook"><a href=""><img src="../images/share/facebook.png" /></a></div>
		</div>
		<div id="credits">
			<span style="font-weight:bold; text-decoration:underline;">Thanks</span> to ..., .... for testing the beta.
		</div>

	</div>
</div>
