/*reset */
	html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
/*reset END*/

/* common */
	body { 
		background-image: url(../images/bg_pattern.png);
		background-color: #1A3438; 
		color: white;
		font-family: "Cantarell", Calibri, Verdana, sans-serif;
		font-size: 14px;
		#text-shadow: 1px 2px 3px #333;
		
		text-align: center;
	}

	h1 {
		line-height: 85px;
		
		
		font-size: 50px;
		font-weight: bold;
		text-shadow: 2px 3px 4px black;
		font-family: "Quattrocento", Georgia, serif;
		margin: 30px;
	}
	
	#share div{
		display: inline;
		line-height: 200px;
		margin: 20px 5px;
		#background-image: url('../images/facebook.png');
	}

	#share img{
		position: absolute;
		left: 50%;
		margin-left:-14px;
		top:500px;
		margin-top:10px;
		clip:rect(0 40px 40px 0);
	}
	#share #twitter img{ margin-left:-71px;}
	#share #email img{ margin-left:46px;}
	
	#share a:hover img{
		top:498px;
	}	
	
	#quote #top{
		background: url(../images/depression_top.png) no-repeat;
		width: 452px;
		height: 4px;
		margin: auto;
		margin-top: 100px;
	}
	 #quote #mid{
		background: url(../images/depression_mid.png) ;
		width: 452px;	
		margin: auto;
	}
	#quote #bottom{
		background: url(../images/depression_bottom.png) no-repeat;
		width: 452px;
		height: 4px;
		margin: auto;
	}
	
	#quote {
		
		font:inherit;
		font-size: 20px;
		margin: auto;
		#text-shadow: 2px 2px 3px #333;
		line-height:22px;
		text-align: justify;
		text-indent: 20px;
	}
	
	#quote p{
		padding-top: 2px;
		padding-bottom: 4px; 
		padding-left:10px;
		padding-right:10px;
		
	}
	
	#score #top{
		background: url(../images/depression_top_100.png) no-repeat;
		width: 100px;
		height: 4px;
		margin: auto;
	}
	 #score #mid{
		background: url(../images/depression_mid_100.png) ;
		width: 100px;	
		margin: auto;
	}
	#score #bottom{
		background: url(../images/depression_bottom_100.png) no-repeat;
		width: 100px;
		height: 4px;
		margin: auto;
		margin-bottom: 22px;
	}
	
	#score {
		
		font:inherit;
		font-size: 20px;
		margin: auto;
		line-height:22px;
		text-align: center;
	}
	
	#score p{
		padding-top: 2px;
		padding-bottom: 4px; 
		padding-left:10px;
		padding-right:10px;
		
	}
	
	#exit a { color: #000;}
	#exit  a:visited { color: #1A3438; }
	#exit  a:hover { color: white; background-color:#6FACF2; }

	#exit  a {
		font-weight: bold;
		font-family: "Quattrocento", Georgia, serif;
		color: #1A3438;
		text-decoration: none;
		background-color: #5EA4B2;
		background: url(../images/bar.png) -50px -1px;
		line-height: 100px;
		padding: 13px 10px;
		width: auto;
		margin: 20px;
		
		font-size: 20px;

		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	}
	
	#notice {
		width: 500px;
		margin: auto;
		margin-top: 0px;
		color: white;
		border: 2px solid red;
	}
	
/* common END */


/* main_page */
	#main_page #content a:visited { color: #1A3438; }
	#main_page #content a:hover { color: white; background-color: #6FACF2; }

	#main_page #content ul li{
		list-style-type: none;
	}
	
	#main_page #content a {
		font-weight: bold;
		font-family: "Quattrocento", Georgia, serif;
		color: #1A3438;
		text-decoration: none;
		background-color: #5EA4B2;
		background: url(../images/bar.png) -50px -1px;
		line-height: 100px;
		padding: 13px 10px;
		width: auto;
		margin: 20px;
		
		font-size: 20px;

		-webkit-border-radius: 7px;
		-moz-border-radius: 7px;
		border-radius: 7px;
		-moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	}

	#main_page {
		
	}
	#main_page #content{
	}

	/* intro */
		#main_page #intro{ display: none;}

		/*
		#main_page #content #intro #top{
			background: url(../images/depression_top.png) no-repeat;
			width: 452px;
			height: 4px;
		}
		#main_page #content #intro #mid{
			background: url(../images/depression_mid.png) ;
			width: 452px;	
		}
		#main_page #content #intro #bottom{
			background: url(../images/depression_bottom.png) no-repeat;
			width: 452px;
			height: 4px;
		}*/


	/* intro END*/

	/* footer */
		#main_page #footer {

		}
	/* footer END */

/* main_page END */


/*cat_page */
	#cat_page #content #category{
		margin: auto;
		width: 300px;
		background: url(../images/bar.png) -50px 0px;
		
	}
	
	#cat_page #content #category{
		
	}
	#cat_page #content #category a { color: #000;}
	#cat_page #content #category a:visited { color: #1A3438; }
	#cat_page #content #category a:hover { color: white; background-color:#6FACF2; }
	
	#cat_page #content #category a{
		display: block;
		font-family: "Quattrocento", Georgia, serif;
		color: #1A3438;
		text-decoration: none;
		
		background: url(../images/bar.png) -50px 0px;
		line-height: 30px;
		
	
		margin: 0px;
		
		font-size: 13px;
	}

/* cat_page END */

/* read_page */

	#read_page #content #navigate a:hover img{
		margin-top:40px;
	}
	
	#read_page #content #navigate #left{
		top: 0;
		display: inline;
		 position: absolute;
		 left: 50%;
		 margin-left: -100px;
		 margin-top: 100px;
		 clip:rect(40px 48px 80px 0px);
		 
	}
	
	#read_page #content #navigate #right{
		top:0;
		display: inline;
		 position: absolute;
		 right: 50%;
		 margin-right: -100px;
		 margin-top: 100px;
		 clip:rect(40px 48px 80px 0);
		
	}

/* read_page END */


/* mash_page */

	#mash_page #content table{
		margin: auto;
		position: relative;
		
	}
	
	#mash_page #content #quote #top{
		margin:0;
		padding:0;
	}
	
	
	#mash_page #content #quote a{
		text-decoration: none;
		color: white;
	}
	
	#mash_page #content #quote a:visited{
		color: white;
	}
	
	#mash_page #content #quote a:hover{color: red;}
	
	#mash_page #content #skip a:hover img{
		margin-top:40px;
	}
	#mash_page #content #skip{
		
		display: block;
		 position: absolute;
		 right: 50%;
		 margin-right: -20px;
		 #margin-top: 100px;
		 clip:rect(40px 48px 80px 0);
		
	}
	
	#mash_page #content #exit{
		margin-top: 80px;
	}
	
	#mash_page #content #instructions{
		margin: 0 0 20px 0;
		color: white;
		font-family: "Cantarell", Calibri, Verdana, sans-serif;
		font-size: 16px;
		#text-shadow: 1px 2px 3px #333;
	}

/* mash_page END */















