<h1>Read Quotes</h1>

<% if session[:quotes] and session[:quotes].size>@index and @index>=0 %>

	<%= link_to "<- Prev", read_index_path(:index=>@index-1) %>

	<%= session[:quotes][@index].quote %>
		
	<%= link_to "Next ->", read_index_path(:index=>@index+1) %>
	

<% else %>
	No Quotes to display: Either reached the end of list or invalid URL?
<% end %>
