<h1>Let's Mash</h1>

<table>

<tr>
	<td><%= @quotes[0].quote  %> </td>
	<td><%= @quotes[1].quote %> </td>
</tr>

<tr>
	<td>Share</td>
	<td>Share</td>
</tr>

<tr>
	<td colspan="2">Skip</td>
</tr>

<tr>
	<td colspan="2">Exit</td>
</tr>

</table>
