<div id="cat_page">
	<div id="header">
		<h1>Choose a Book/Category</h1>
	</div>
	<div id="content">

			
			<% @categories.each do |category| %>
				
				<div id="category" title="<%=category.name%>"><%= link_to category.name.length>35?(category.name[0,35]+"..."):(category.name), params[:option]=="mash"?mash_index_path(:category=>category.id):read_index_path(:category=>category.id, :index=>0)  %></div>
				
			<% end %>
			


	</div>
	
	<div id="footer">
	
	</div>

</div>
