<div id="cat_page">
	<div id="header">
		<h1>Choose a Category</h1>
	</div>
	<div id="content">
		<% if not params[:option] %>
			TODO: Redirect to main page from controller
		<% else %>
			
			<% @categories.each do |category| %>
				
				<div id="category"><%= link_to category.name, params[:option]=="mash"?mash_index_path(:category=>category.id, :index=>0, :win=>0):read_index_path(:category=>category.id, :index=>0)  %></div>
				
			<% end %>
			

		<% end %>
	</div>
	
	<div id="footer">
	
	</div>

</div>
