<h1>Listing categories</h1>

<% if not params[:option] %>
	TODO: Redirect to main page from controller
<% else %>

	<table>
  	<tr>
    	<th>Name</th>
    	<th></th>
    	<th></th>
    	<th></th>
  	</tr>

	<% @categories.each do |category| %>
  	<tr>
    	<td><%= link_to category.name, mash_url(:cat=>category.id)  %></td>
		</tr>
	<% end %>
	</table>

	<br />

	<%= link_to 'New Category', new_category_path %>

<% end %>
