<!DOCTYPE html>
<html>
<head>
  <title>The Wisbit App</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
	<meta property="og:image" content="http://wisbit.akeelali.com/images/w.png" />
	<meta property="og:title" content="The Wisbit App" />
	<meta property="og:type" content="book" />
	<meta property="og:url" content="http://wisbit.akeelali.com/" />
	<meta property="og:description" content="Learning from books made easier: read, rank, and submit your favourite quotes from a wide selection of books." />
 <%= google_analytics_js %>
</head>
<body>

<%= yield %>

</body>
</html>
